@model IEnumerable<Documento>

<h1 class="text-center">Arquivos Word</h1>

<div class="text-center">
    <a href="#" class="d-flex jutify-content-center align-items-center"
                style="width:150px; height:200px; background-color:lighsteelblue; font-size:100px; text-decoration:none; color:black;"
    >+</a>
</div>